//Elements contain styles that only apply to HTML tags, for the most part: typography, form elements, etc.

//Variables
$font-stack: 'Montserrat', sans-serif;
$primary-color: #2ba6cb;
$body-font: 'Montserrat', sans-serif;

// Styles
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-family: $font-stack;
    background-color: transparent;
}

.button-container {
    align-items: center;
}

button {
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}

//Font Variables
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Styles
body {
    font-family: $body-font;
    font-weight: normal;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1, h2, h3, h4, h5, h6 {
    align-self: center;
    font-family: $open-sans;
    font-weight: normal;
}

.button {
    font-family: $body-font;
    font-weight: bold;
}