.displayNone {
  display: none !important;
}


.clickable{
  cursor: pointer;
}

.clickable:hover,
.clickable:focus{
  text-decoration: underline;
}

li{
  font-size: 25px;
}

.button-container{
  display: inline-block;
}

button{
  font-size: 20px;
  min-width: 70px;
}

.rain,
.night{
  background-color: red;
}


.hour-btns,
.results{
  display: inline-block;
}

body{
  margin: 0 auto;
  padding: 0 30%;
}